extends layout

block content
  div(class="container")
    div(class="well")
      h3= course.name
      p= course.instructions
    div(class="row")
      div(class="col-lg-8")
        h3 Input Commands
        form(role="form")
          div(class="form-group")
            textarea(class="form-control", id="commands", rows="8")
        button(class="btn btn-default", id="submit_code") Submit
      div(class="col-lg-4")
        h3(id="stats_sidebar") Starting State
        pre(id="sidebar_info")= course.start_text
  script(src="/javascripts/course.js")
