doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery.js")
  body
    div(id="wrap")
      div(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
          div(class="navbar-header")
            a(class="navbar-brand", href="/")= title
          div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav navbar-right")
              if user
                li
                  a(href="/user/stats")= user.name
                li
                  a(href="/logout") Log Out
              else
                li
                  a(href="/auth/twitter") Log In
      block content
    div(id="footer")
      div(class="container")
        p(class="text-muted credit")!= title + ' &copy; ' + authors
    script(src="/javascripts/bootstrap.min.js")
