doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="//code.jquery.com/jquery.js")
    script(src="/javascripts/bootstrap.min.js")
